#menu-container{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 10%;
    padding-right: 10%; */
    width: 100%;
    height: 85%;
    top: 12%;
    border-radius: 10px;

    color: var(--dark-color);
}

#menu-board{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 20px;
    gap: 2rem;
}

#menu-board h1{
    position: absolute;
    top: 5%;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: var(--brown);
}

.menu-card{
    width: 320px;
    border: 2px solid var(--brown);
    height: 420px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(251, 249, 244);
}

.meal-title{
    font-size: 25px;
    font-weight: 700;
    margin-top: 15%;
    text-align: center;
    text-decoration: underline;
}

.menu-list{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: flex-start;
}

.menu-list li{
    font-size: 18px;
    list-style-type: disc;
    margin-left: 4%;
}